header {
  font-family: 'Helvetica';
  color: white;
  background-color: rebeccapurple;
  padding: .5em;
  margin-bottom: 1em;
}

h2, h3, .purple-text {
  color: purple;
}

/* h3 {
  color: purple;
}

.purple-text {
  color: purple;
} */

header p {
  font-size: 1.5em;
}

.about-section p {
  font-family: "Papyrus";
}

.about-section h2:hover {
  font-size: 2em;
}

.about-section {

}

a:hover {
  text-decoration: none;
}

a:visited {
  color: blue;
}

p {
  font-size: 18px;
}

img {
  max-height: 150px;
  border-radius: 20px;
  background-color: white;
}

/* elements with class="about-section" */
.about-section {
  background-color: #eee;
  padding: .25em .5em;
}

.link-section {
  background-color: lightskyblue;
  text-align: center;
}